@import "tailwindcss";

@theme {
  --color-rered: #e30033;
  --color-remaroon: #490320;
  --color-rebeige-500: #fcefd9;
  --color-rebeige-300: #fff8f0;
  --color-rebeige-100: #fffcf8;
  --color-regreen: #79cca8;
  --color-reorange: #f49058;
  --color-reyellow: #f7cb73;
  --color-repink: #f5c8fa;
}

@font-face {
	font-family: "Lorimer";
	src: url("/fonts/Lorimer_No_2_Condensed_Bold.otf") format("opentype");
}
@font-face {
	font-family: "Parkinsans";
	src: url("/fonts/Parkinsans-Light.ttf") format("truetype");
	font-weight: 300;
}
@font-face {
	font-family: "Parkinsans";
	src: url("/fonts/Parkinsans-Regular.ttf") format("truetype");
	font-weight: 400;
}
@font-face {
	font-family: "Parkinsans";
	src: url("/fonts/Parkinsans-Medium.ttf") format("truetype");
	font-weight: 500;
}
@font-face {
	font-family: "Parkinsans";
	src: url("/fonts/Parkinsans-Semibold.ttf") format("truetype");
	font-weight: 600;
}


body {
	font-family: "Parkinsans", sans-serif;
	margin: 0;
	padding: 0;
	word-wrap: break-word;
	overflow-wrap: break-word;
	font-size: 20px;
	line-height: 1.7;
}
main {
	padding: 122px 60px;
	max-width: 1440px;
	margin: auto;
}
h1,h2,h3,h4,h5,h6 {
	font-family: "Lorimer", sans-serif;
	text-transform: uppercase;
} 
h1 {
	font-size: 3.052em;
}
h2 {
	font-size: 2.441em;
}
h3 {
	font-size: 1.953em;
}
h4 {
	font-size: 1.563em;
}
h5 {
	font-size: 1.25em;
}
img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}

@media (max-width: 720px) {
	body {
		font-size: 18px;
	}
}