@import "tailwindcss";

@theme {
  --color-rered: #e30033;
  --color-redarkred: #980022;
  --color-remaroon: #490320;
  --color-rebeige-500: #fcefd9;
  --color-rebeige-300: #fff8f0;
  --color-rebeige-100: #fffcf8;
  --color-regreen: #79cca8;
  --color-reorange: #f49058;
  --color-reyellow: #f7cb73;
  --color-redarkpink: #F3335E;
  --color-repink: #f5c8fa;
}

@font-face {
	font-family: "LorimerCondensed";
	src: url("/fonts/Lorimer_No_2_Condensed_Bold.otf") format("opentype");
}
@font-face {
	font-family: "LorimerCondensedBlack";
	src: url("/fonts/Lorimer_No_2_Condensed_Black.otf") format("opentype");
}
@font-face {
	font-family: "Lorimer";
	src: url("/fonts/Lorimer_No_2_Bold.otf") format("opentype");
}
@font-face {
	font-family: "Parkinsans";
	src: url("/fonts/Parkinsans-Light.ttf") format("truetype");
	font-weight: 300;
}
@font-face {
	font-family: "Parkinsans";
	src: url("/fonts/Parkinsans-Regular.ttf") format("truetype");
	font-weight: 400;
}
@font-face {
	font-family: "Parkinsans";
	src: url("/fonts/Parkinsans-Medium.ttf") format("truetype");
	font-weight: 500;
}
@font-face {
	font-family: "Parkinsans";
	src: url("/fonts/Parkinsans-SemiBold.ttf") format("truetype");
	font-weight: 600;
}
@font-face {
	font-family: "Parkinsans";
	src: url("/fonts/Parkinsans-Bold.ttf") format("truetype");
	font-weight: 700;
}
@font-face {
	font-family: "Parkinsans";
	src: url("/fonts/Parkinsans-ExtraBold.ttf") format("truetype");
	font-weight: 800;
}


body {
	font-family: "Parkinsans", sans-serif;
	margin: 0;
	padding: 0;
	word-wrap: break-word;
	overflow-wrap: break-word;
	font-size: 18px;
}
main {
	padding-top: 122px;
}
.anchor {
	scroll-margin-top: 122px;
}
h1,h2,h3,h4,h5,h6 {
	font-family: "LorimerCondensed", sans-serif;
	text-transform: uppercase;
} 
h1 {
	font-size: 122px;
	line-height: 95%;
}
article {
	h1 {
		font-size: 80px;
	}
}
h2 {
	font-size: 80px;
	line-height: 95%;
}
h3 {
	font-size: 58px;
	line-height: 95%;
}
h4 {
	font-size: 48px;
	line-height: 95%;
}
h5 {
	font-size: 32px;
	line-height: 100%;
}
img {
	max-width: 100%;
	height: auto;
}

.font-lorimer {
	font-family: "Lorimer", sans-serif;
	text-transform: uppercase;
}

.font-lorimer-condensed {
	font-family: "LorimerCondensed", sans-serif;
	text-transform: uppercase;
}

.font-lorimer-condensed-black {
	font-family: "LorimerCondensedBlack", sans-serif;
	text-transform: uppercase;
}

.square-title, .square-button {
	padding: 6px 16px;
}

.small-maroon-shadow {
	border: 2px solid var(--color-remaroon);
	box-shadow: 6px 7px 0px 0px var(--color-remaroon);
	border-radius: 9px;
}

.small-beige-shadow {
	border: 2px solid var(--color-rebeige-300);
	box-shadow: 6px 7px 0px 0px var(--color-rebeige-300);
	border-radius: 9px;
}

.small-beige-shadow-red-border {
	border: 2px solid var(--color-rered);
	box-shadow: 6px 7px 0px 0px var(--color-rebeige-300);
	border-radius: 9px;
}

.small-black-shadow {
	border: 2px solid black;
	box-shadow: 6px 7px 0px 0px black;
	border-radius: 9px;
}

.big-maroon-shadow {
	border: 4px solid var(--color-remaroon);
	box-shadow: 10px 11px 0px 0px var(--color-remaroon);
	border-radius: 10px;
}

.text-maroon-shadow {
	-webkit-text-stroke: 2.44px var(--color-remaroon);
	text-shadow: -3.65px 6.09px 0px var(--color-remaroon);
	font-family: "LorimerCondensedBlack", sans-serif;
	letter-spacing: -0.025em;
}

.text-border-black {
	-webkit-text-stroke: 1px black;
}

#goutte-fond {
	background-image: url('/images/goutte-fond.png');
	background-size: contain;
	background-repeat: no-repeat;
}

/* HOME */

#hero {
	background-image: url('/images/hero.png');
	background-size: cover;
	background-repeat: no-repeat;	
}

/* QUI SOMMES NOUS */

.iframe-container {
    position: relative;
    padding-bottom: 56.5%;
    height: 0;    
}
.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.bg-none-important {
	background-image: none !important;
}

#pdl, #cvl, #paca, #idf {
	background-size: cover;
	background-repeat: no-repeat;
}

#pdl {
	background-image: url('/images/pdl-bg.png');
	background-position: top right;
}

#cvl {
	background-image: url('/images/cvl-bg.png');
	background-position: top center;
}

#paca {
	background-image: url('/images/paca-bg.png');
	background-position: top right 10%;
}

#idf {
	background-image: url('/images/idf-bg.png');
	background-position: top center;
}

/* INFORMER */

.slides span {
	opacity: 0;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	top: 100%;
}

.slide-a {
	animation: fadeIn 12s forwards ease infinite;
}
.slide-b {
	/* Start with 3 seconds delay */
	animation: fadeIn 12s 3s forwards ease infinite;
}
.slide-c {
	/* Start with 6 seconds delay */
	animation: fadeIn 12s 6s forwards ease infinite;
}
.slide-d {
	/* Start with 9 seconds delay */
	animation: fadeIn 12s 9s forwards ease infinite;
}

@keyframes fadeIn {
    0% {
		opacity: 0;
	}

	2% {
		opacity: 0;
	}

	5% {
		opacity: 1;
	}

	17% {
		opacity: 1;
	}

	19% {
		opacity: 1;
	}

	24% {
		opacity: 0;
	}

	80% {
		opacity: 0;
	}

	100% {
		opacity: 0;
	}
}

/* FORMER */

 /* The flip card container */
 .flip-card {
  background-color: transparent;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the back side */
.flip-card-back {
  transform: rotateY(180deg);
} 

/* ACTUS */
article {
	a {
		text-decoration: underline;
	}
}

@media (width < 48rem) { 
	body {
		font-size: 13px;
	}
	main {
		padding-top: 95px;
	}
	.anchor {
		scroll-margin-top: 95px;
	}
	h1 {
		font-size: 64px;
		line-height: 95%;
	}
	article {
		h1 {
			font-size: 56px;
		}
	}
	h2 {
		font-size: 56px;
		line-height: 95%;
	}
	h3 {
		font-size: 38px;
		line-height: 95%;
	}
	h4 {
		font-size: 24px;
		line-height: 95%;
	}
	h5 {
		font-size: 18px;
		line-height: 100%;
	}
	.text-maroon-shadow {
		-webkit-text-stroke: 1.76px var(--color-remaroon);
		text-shadow: -2.63px 4.39px 0px var(--color-remaroon);
	}
	#goutte-fond {
		background: none;
	}
	#hero {
		background-image: none;
	}
}