@import "tailwindcss";

/* Preline UI */
@import '../../node_modules/preline/variants.css';

/* Preline Themes */
@import '../../node_modules/preline/css/themes/theme.css';

@theme {
  --color-rered: #ff224c;
}

@font-face {
	font-family: "Atkinson";
	src: url("/fonts/atkinson-regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Atkinson";
	src: url("/fonts/atkinson-bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
body {
	font-family: "Atkinson", sans-serif;
	margin: 0;
	padding: 0;
	word-wrap: break-word;
	overflow-wrap: break-word;
	font-size: 20px;
	line-height: 1.7;
}
main {
	padding: 0 60px;
	max-width: 1440px;
	margin: auto;
}
h1 {
	font-size: 3.052em;
}
h2 {
	font-size: 2.441em;
}
h3 {
	font-size: 1.953em;
}
h4 {
	font-size: 1.563em;
}
h5 {
	font-size: 1.25em;
}
img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}

@media (max-width: 720px) {
	body {
		font-size: 18px;
	}
}