nav{
  position: fixed;
  z-index: 99;
  width: 100%;
  input{
    display: none;
  }
  .wrapper{
    position: relative;
    height: 122px;
    line-height: 122px;
    display: flex;
    .logo{
      width: 177px;
      height: 60px;
    }
    #red-logo {
      transition: all 0.3s ease;
      opacity: 1;
      visibility: visible;
      display: block
    }
    #white-logo {
      transition: all 0.3s ease;
      opacity: 0;
      visibility: hidden;
      display: none;
    }
    .btn{
      font-size: 20px;
      cursor: pointer;
    }
  }
}
.nav-column{
  width: calc(33.3333%);
  display: flex;
  align-items: center;
}
.first-nav-column, .second-nav-column, .third-nav-column{
  background-color: white;
  transition: all 0.3s ease;
}
.first-nav-column {
  padding-left: 60px;
}
.third-nav-column {
  padding-right: 60px;
  justify-content: right;
}

#mega-box{
  transition: all 0.3s ease;
  position: absolute;
  left: 0;
  width: 100%;
  padding: 0;
  top: 122px;
  opacity: 0;
  visibility: hidden;
}
nav:has(.wrapper #menu-btn:checked){
  #mega-box{
    opacity: 1;
    visibility: visible;
  }
  #white-logo{
    opacity: 1;
    visibility: visible;
    display: block;
  }
  #red-logo{
    opacity: 0;
    visibility: hidden;
    display: none;
  }
  .first-nav-column{
    background-color: #e30033;
  }
  .second-nav-column{
    background-color: #79cca8;
  }
  .third-nav-column{
    background-color: #f7cb73;
  }
}

#mega-box .content{
  display: flex;
  .mega-links {
    padding-left: 60px;
    width: 100%;
    li a{
      font-family: "Lorimer";
      text-transform: uppercase;
      font-size: 40px;
      line-height: 40px;
      display: block;
      padding: 7px 0;
    }
  }
  #mega-nos-actions-submenu {
    transition: all 0.3s ease;
    opacity: 0;
    visibility: hidden;
    padding-left: 30px;
    li a {
      font-family: "Lorimer";
      text-transform: uppercase;
      font-size: 34px;
      line-height: 34px;
      display: block;
      padding: 10px 0;
    }
  }
  .actu-column{
    transition: all 0.3s ease;
  }
}

#mega-nos-actions-submenu:hover {
  opacity: 1 !important;
  visibility: visible !important;
}

nav:has(#mega-nos-actions-submenu:hover){
  #mega-actu {
    display: none;
  }
  .second-nav-column{
    background-color: #f5c8fa !important;
  }
  .actu-column{
    background-color: #f5c8fa !important;
  }
}

nav:has(#nos-actions-link:hover){
  #mega-nos-actions-submenu {
    opacity: 1;
    visibility: visible;
  }
  #mega-actu {
    display: none;
  }
  .second-nav-column{
    background-color: #f5c8fa !important;
  }
  .actu-column{
    background-color: #f5c8fa !important;
  }
}




@media screen and (max-width: 970px) {
  .wrapper .nav-links{
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: -100%;
    background: #242526;
    display: block;
    padding: 50px 10px;
    line-height: 50px;
    overflow-y: auto;
    box-shadow: 0px 15px 15px rgba(0,0,0,0.18);
    transition: all 0.3s ease;
  }
  /* custom scroll bar */
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #242526;
  }
  ::-webkit-scrollbar-thumb {
    background: #3A3B3C;
  }
  .nav-links li{
    margin: 15px 10px;
  }
  .nav-links li a{
    padding: 0 20px;
    display: block;
    font-size: 20px;
  }
  .nav-links .mobile-item:hover{
    background: #3A3B3C;
  }
  .mega-box{
    position: static;
    top: 65px;
    opacity: 1;
    visibility: visible;
    padding: 0 20px;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.3s ease;
  }
  .mega-box .content{
    box-shadow: none;
    flex-direction: column;
    padding: 20px 20px 0 20px;
  }
  .mega-box .content .row{
    width: 100%;
    margin-bottom: 15px;
    border-top: 1px solid rgba(255,255,255,0.08);
  }
  .mega-box .content .row:nth-child(1),
  .mega-box .content .row:nth-child(2){
    border-top: 0px;
  }
  .content .row .mega-links{
    border-left: 0px;
    padding-left: 15px;
  }
  .row .mega-links li{
    margin: 0;
  }
  .content .row header{
    font-size: 19px;
  }
}