nav{
  position: fixed;
  z-index: 99;
  width: 100vw;
  input{
    display: none;
  }
  .wrapper{
    position: relative;
    height: 122px;
    line-height: 122px;
    display: flex;
    .logo{
      width: 177px;
      height: 60px;
    }
    #red-logo {
      transition: all 0.3s ease;
      opacity: 1;
      visibility: visible;
      display: block
    }
    #white-logo {
      transition: all 0.3s ease;
      opacity: 0;
      visibility: hidden;
      display: none;
    }
    #menu-svg {
      transition: all 0.3s ease;
      stroke: black;
    }
  }
}
.nav-column{
  width: calc(33.3333%);
}
.first-nav-column, .second-nav-column, .third-nav-column{
  background-color: white;
  transition: all 0.3s ease;
}
.first-nav-column {
  padding-left: 60px;
}
.third-nav-column {
  padding-right: 60px;
}

#mega-box{
  transition: all 0.3s ease;
  position: absolute;
  left: 0;
  width: 100%;
  padding: 0;
  top: 122px;
  opacity: 0;
  visibility: hidden;
}
nav:has(.wrapper #menu-btn:checked){
  #mega-box{
    opacity: 1;
    visibility: visible;
  }
  #white-logo{
    opacity: 1;
    visibility: visible;
    display: block;
  }
  #red-logo{
    opacity: 0;
    visibility: hidden;
    display: none;
  }
  #menu-svg {
      stroke: white;
    }
  .first-nav-column{
    background-color: var(--color-rered);
  }
  .second-nav-column{
    background-color: var(--color-remaroon)
  }
  .third-nav-column{
    background-color: var(--color-rebeige-100);
  }
}

#mega-box .content{
  display: flex;
  .mega-links {
    width: 100%;
    li a{
      font-family: "LorimerCondensed";
      text-transform: uppercase;
      font-size: 40px;
      line-height: 40px;
      display: block;
      padding-bottom: 14px;
    }
  }
  #mega-nos-actions-submenu, #mega-sengager-submenu {
    z-index: 300;
    background-color: var(--color-remaroon);
    width: calc(33.3333%);
    position: absolute;
    top: 24px;
    transition: all 0.3s ease;
    opacity: 0;
    visibility: hidden;
    padding-left: 30px;
    li a {
      font-family: "LorimerCondensed";
      text-transform: uppercase;
      font-size: 34px;
      line-height: 34px;
      display: inline-block;
      padding-bottom: 14px;
    }
  }
}

#mega-nos-actions-submenu:hover, #mega-sengager-submenu:hover {
  opacity: 1 !important;
  visibility: visible !important;
}

nav:has(#mega-nos-actions-submenu:hover), nav:has(#mega-sengager-submenu:hover){
  .second-nav-column{
    /* ADD ARROW */
  }
}

nav:has(#nos-actions-link:hover){
  #mega-nos-actions-submenu {
    opacity: 1;
    visibility: visible;
  }
  .second-nav-column{
    /* ADD ARROW */
  }
}

nav:has(#sengager-link:hover){
  #mega-sengager-submenu {
    opacity: 1;
    visibility: visible;
  }
  .second-nav-column{
    /* ADD ARROW */
  }
}

@media (width < 48rem) { 
  nav{
    .wrapper{
      height: 95px;
      line-height: 95px;
    }
  }
  .nav-column {
    width: 100%;
  }
  .first-nav-column {
    padding: 0;
  }
  #mega-box{
    top: 95px;
  }
  #mega-box .content{
    flex-direction: column;
    .mega-links {
      li a{
        font-size: 24px;
        line-height: 24px;
        border-bottom: 1px solid white;
        padding-bottom: 7px;
        padding-top: 7px;
      }
    }
  }
}
