---
import Base from '../layouts/Base.astro';
---

<Base title="Actions à l'échelle européenne - Règles Élémentaires">
	<main>
        <div class="px-5 md:px-15 flex justify-center bg-rebeige-300 text-remaroon">
			<div class="w-11/12 md:w-10/12 py-10 md:py-20 flex flex-wrap">
                <div class="w-full flex flex-wrap justify-center">
                    <div class="bg-rered text-white font-lorimer-condensed text-center px-10 py-4 -rotate-3 text-4xl md:text-5xl">Oups !</div>
                    <p class="w-full text-center mt-10">La page à laquelle vous essayez d'accéder n'existe pas.</p>
                </div>
            </div>
        </div>
    </main>
</Base>