---
import { Image } from 'astro:assets';
import Base from '../layouts/Base.astro';
---

<Base title="Actions à l'échelle européenne - Règles Élémentaires">
	<main>
        <div class="px-5 md:px-15 flex justify-center bg-rebeige-300">
			<div class="w-11/12 md:w-10/12 py-10 md:py-20 flex flex-wrap">
                <div class="w-full md:w-7/10 text-rered">
					<h1>Actions à l'échelle européenne</h1>
				</div>
            </div>
        </div>
    </main>
</Base>