---
import { Image } from 'astro:assets';
import Base from '../layouts/Base.astro';
---

<Base title="Notre impact - Règles Élémentaires">
	<main>
        <div class="px-5 md:px-15 flex justify-center bg-rebeige-300">
			<div class="w-11/12 md:w-10/12 py-10 md:py-20 flex flex-wrap">
                <div class="w-full md:w-7/10 text-rered">
					<h1>Derrière les chiffres, un impact concret</h1>
				</div>
                <div class="w-full flex justify-center mt-10">
                    <div class="bg-rered text-white font-lorimer-condensed text-center px-10 py-4 -rotate-3 text-4xl md:text-5xl">Page en construction</div>
                </div>                
            </div>
        </div>
    </main>
</Base>