---
import Base from '../layouts/Base.astro';
---

<Base title="Mentions légales - Règles Élémentaires">
	<main>
        <div class="px-5 md:px-15 flex justify-center bg-rebeige-300 text-remaroon">
			<div class="w-11/12 md:w-10/12 flex flex-col py-20">
                <h2>Mentions légales</h2>
                <p class="mt-10">Conformément aux dispositions des Articles 6-III et 19 de la Loi n°2004-575 du 21 juin 2004 pour la confiance dans l’économie numérique, dite L.C.E.N., il est porté à la connaissance des utilisateurs et visiteurs, ci-après l’Utilisateur, du site www.regleselementaires.com , ci-après le Site, les présentes mentions légales.</p>
                <p class="mt-4">La connexion et la navigation sur le Site par l’Utilisateur implique l’acceptation intégrale et sans réserve des présentes mentions légales.</p>
                <h3 class="mt-10">Article 1 - L'éditeur</h3>
                <p class="mt-10">
                    L’édition du Site est assurée par Règles Élémentaires, association loi 1901, dont le siège social est situé au 9 rue de Vaugirard, 75006 Paris, France, ci-après l’Editeur.
                    <br/>Adresse email : contact@regleselementaires.com
                    <br/>Directrice de publication : Soria Blatmann
                    <br/>Délégué à la protection des données : Bastien Germain - bastien@regleselementaires.com
                </p>
                <h3 class="mt-10">Article 2 - L'hébergeur</h3>
                <p class="mt-10">L’hébergeur du Site est la société OVH, dont le siège social est situé au 2 rue Kellermann, 59100 Roubaix, France</p>
                <h3 class="mt-10">Article 3 - Collecte des données</h3>
                <p class="mt-10">Le Site assure à l’Utilisateur une collecte et un traitement d’informations personnelles dans le respect de la vie privée conformément à la loi n°78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés.</p>
                <p class="mt-4">En vertu de la loi Informatique et Libertés, en date du 6 janvier 1978, l’Utilisateur dispose d’un droit d’accès, de rectification, de suppression et d’opposition de ses données personnelles. L’Utilisateur exerce ce droit par mail à l’adresse email suivante : contact@regleselementaires.com</p>
                <p class="mt-4">Toute utilisation, reproduction, diffusion, commercialisation, modification de toute ou partie du Site, sans autorisation de l’Editeur est prohibée et pourra entraîner des actions et poursuites judiciaires telles que notamment prévues par le Code de la propriété intellectuelle et le Code civil.</p>
            </div>
        </div>		
	</main>
</Base>