---
import Base from '../layouts/Base.astro';
import { SITE_TITLE } from '../consts';
---

<Base title={SITE_TITLE}>
	<main>
        <div class="px-5 md:px-15 flex justify-center bg-rebeige-300 text-remaroon">
			<div class="w-11/12 md:w-10/12 flex flex-col py-20">
                <h2>Mentions légales</h2>
            </div>
        </div>		
	</main>
</Base>