<div class="flex flex-wrap text-remaroon">
    <div class="w-full mt-6 flex flex-col gap-2 items-start">
        <div class="flex flex-col items-start w-full">
            <div class="faq-header bg-rebeige-500 flex items-center justify-between w-full cursor-pointer py-4 pe-4 transition-all">
                <p class="font-bold ms-4">Avoir mal pendant ses règles, c’est normal</p>   
                <svg class="faq-icon me-2 transition-all duration-500" width="20" height="11" viewBox="0 0 20 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.900879 0.900879L9.9097 9.9097L18.9185 0.90088" stroke="black" stroke-width="1.80176" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>         
            </div>
            <p class="faq-answer px-4 mt-2 bg-rebeige-500 overflow-hidden max-h-0 opacity-0 -translate-y-2 transition-all duration-500">
                Non.<br/>Des douleurs légères peuvent exister, mais des douleurs intenses qui empêchent de travailler, dormir ou vivre normalement ne doivent pas être banalisées. Elles peuvent révéler une pathologie comme l’endométriose ou d’autres troubles gynécologiques.
            </p>
        </div>
        <div class="flex flex-col items-start w-full">
            <div class="faq-header bg-rebeige-500 flex items-center justify-between w-full cursor-pointer py-4 pe-4 transition-all">
                <p class="font-bold ms-4">La précarité menstruelle ne concerne que les personnes sans ressources</p>   
                <svg class="faq-icon me-2 transition-all duration-500" width="20" height="11" viewBox="0 0 20 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.900879 0.900879L9.9097 9.9097L18.9185 0.90088" stroke="black" stroke-width="1.80176" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>         
            </div>
            <p class="faq-answer px-4 mt-2 bg-rebeige-500 overflow-hidden max-h-0 opacity-0 -translate-y-2 transition-all duration-500">
                Non.<br/>La précarité menstruelle touche près de 4 millions de personnes en France. Elle touche aussi bien des étudiant·es, des jeunes actif·ves, des familles monoparentales, des personnes salariées ou retraitées qui doivent arbitrer entre plusieurs dépenses essentielles. Elle ne se limite pas seulement au manque de moyens financiers pour acheter ces produits : elle englobe aussi l’absence d’information fiable, l’insuffisance d’accès à des toilettes adaptées, ou encore le poids des tabous qui renforcent l’exclusion et la stigmatisation.
            </p>
        </div>
        <div class="flex flex-col items-start w-full">
            <div class="faq-header bg-rebeige-500 flex items-center justify-between w-full cursor-pointer py-4 pe-4 transition-all">
                <p class="font-bold ms-4">Parler des règles, c’est surtout utile pour les jeunes</p>   
                <svg class="faq-icon me-2 transition-all duration-500" width="20" height="11" viewBox="0 0 20 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.900879 0.900879L9.9097 9.9097L18.9185 0.90088" stroke="black" stroke-width="1.80176" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>         
            </div>
            <p class="faq-answer px-4 mt-2 bg-rebeige-500 overflow-hidden max-h-0 opacity-0 -translate-y-2 transition-all duration-500">
                Non, c’est utile à tous les âges.<br/>Parents, professionnel·les, employeurs, responsables publics : mieux comprendre les règles permet de mieux accompagner et de mieux décider.
            </p>
        </div>
        <div class="flex flex-col items-start w-full">
            <div class="faq-header bg-rebeige-500 flex items-center justify-between w-full cursor-pointer py-4 pe-4 transition-all">
                <p class="font-bold ms-4">La ménopause met fin aux enjeux menstruels</p>   
                <svg class="faq-icon me-2 transition-all duration-500" width="20" height="11" viewBox="0 0 20 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.900879 0.900879L9.9097 9.9097L18.9185 0.90088" stroke="black" stroke-width="1.80176" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>         
            </div>
            <p class="faq-answer px-4 mt-2 bg-rebeige-500 overflow-hidden max-h-0 opacity-0 -translate-y-2 transition-all duration-500">
                Pas totalement.<br/>Le vécu menstruel influence aussi la santé hormonale, les parcours médicaux et la compréhension du corps bien au-delà de la période menstruée.
            </p>
        </div>
        <div class="flex flex-col items-start w-full">
            <div class="faq-header bg-rebeige-500 flex items-center justify-between w-full cursor-pointer py-4 pe-4 transition-all">
                <p class="font-bold ms-4">Aujourd’hui, on parle tellement des règles qu’il n’y a plus vraiment de tabou</p>   
                <svg class="faq-icon me-2 transition-all duration-500" width="20" height="11" viewBox="0 0 20 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.900879 0.900879L9.9097 9.9097L18.9185 0.90088" stroke="black" stroke-width="1.80176" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>         
            </div>
            <p class="faq-answer px-4 mt-2 bg-rebeige-500 overflow-hidden max-h-0 opacity-0 -translate-y-2 transition-all duration-500">
                On aimerait vous dire que oui mais pas encore…<br/>Même si la parole progresse, beaucoup de personnes continuent à cacher, minimiser ou subir les conséquences des règles dans le silence. Selon notre étude menée en 2025, 1 européen·e sur 2 considère les règles comme un sujet tabou ou très tabou. Et en France même constat, selon notre enquête menée en 2022 avec Opinionway, 1 francais·e sur 2 considère les règles comme un sujet tabou.
            </p>
        </div>
        <div class="flex flex-col items-start w-full">
            <div class="faq-header bg-rebeige-500 flex items-center justify-between w-full cursor-pointer py-4 pe-4 transition-all">
                <p class="font-bold ms-4">Les règles, ça ne regarde que les personnes qui les ont</p>   
                <svg class="faq-icon me-2 transition-all duration-500" width="20" height="11" viewBox="0 0 20 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.900879 0.900879L9.9097 9.9097L18.9185 0.90088" stroke="black" stroke-width="1.80176" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>         
            </div>
            <p class="faq-answer px-4 mt-2 bg-rebeige-500 overflow-hidden max-h-0 opacity-0 -translate-y-2 transition-all duration-500">
                Non.<br/>Les règles ont des conséquences sur la santé, l’école, le travail, le sport, l’accès aux droits et l’égalité. Ce n’est pas seulement un sujet individuel : c’est un sujet de société.
            </p>
        </div>
        <div class="flex flex-col items-start w-full">
            <div class="faq-header bg-rebeige-500 flex items-center justify-between w-full cursor-pointer py-4 pe-4 transition-all">
                <p class="font-bold ms-4">Les protections périodiques, ce n’est pas un vrai budget</p>   
                <svg class="faq-icon me-2 transition-all duration-500" width="20" height="11" viewBox="0 0 20 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.900879 0.900879L9.9097 9.9097L18.9185 0.90088" stroke="black" stroke-width="1.80176" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>         
            </div>
            <p class="faq-answer px-4 mt-2 bg-rebeige-500 overflow-hidden max-h-0 opacity-0 -translate-y-2 transition-all duration-500">
                Faux.<br/>Le coût des règles ne s'arrête pas à l’achat des protections périodiques qui représentent déjà en soit un énorme budget. On compte aussi tous les à coté : les consultations médicales, les médicaments, les draps et autres vêtements à racheter…
            </p>
        </div>
        <div class="flex flex-col items-start w-full">
            <div class="faq-header bg-rebeige-500 flex items-center justify-between w-full cursor-pointer py-4 pe-4 transition-all">
                <p class="font-bold ms-4">Est-ce qu'il faut parler des règles à l'école ?</p>   
                <svg class="faq-icon me-2 transition-all duration-500" width="20" height="11" viewBox="0 0 20 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.900879 0.900879L9.9097 9.9097L18.9185 0.90088" stroke="black" stroke-width="1.80176" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>         
            </div>
            <p class="faq-answer px-4 mt-2 bg-rebeige-500 overflow-hidden max-h-0 opacity-0 -translate-y-2 transition-all duration-500">
                Oui ! Les règles sont un sujet de société, et concernent la moitié de l'humanité. C'est normal d'en apprendre plus sur ce sujet à l'école, tout comme on apprend d'autres choses sur le corps humain.
                <br/>L’âge moyen des premières règles est estimé à 12,2 ans. De nombreuses personnes ne savent pas ce que sont les règles la première fois qu’elles les ont. Les conséquences de cette méconnaissance sont multiples : précarité menstruelle, mauvaise image de soi, sentiment de honte, persévérance des tabous.
                <br/>En parler à l'école, cela permet de lutter contre les idées reçues et donner des informations adaptées.
                <br/>C'est d'ailleurs officiellement dans le programme d'EVAR-EVARS de l'Education Nationale, qui mentionne spécifiquement les règles en CM2 et en 6ème.
            </p>
        </div>
    </div>
</div>

<script>
    document.querySelectorAll('.faq-header').forEach((header, index) => {
        header.addEventListener('click', () => {
            const allAnswers = document.querySelectorAll('.faq-answer');
            const allIcons = document.querySelectorAll('.faq-icon');

            allAnswers.forEach((el, i) => {
                if (i === index) {
                    const isOpen = el.classList.contains('opacity-100');
                    el.classList.toggle('opacity-100', !isOpen);
                    el.classList.toggle('max-h-[800px]', !isOpen);
                    el.classList.toggle('translate-y-0', !isOpen);
                    el.classList.toggle('py-4', !isOpen);
                    el.classList.toggle('max-h-0', isOpen);
                    el.classList.toggle('-translate-y-2', isOpen);
                    allIcons[i].classList.toggle('rotate-180', !isOpen);
                } else {
                    el.classList.remove('opacity-100', 'max-h-[800px]', 'translate-y-0', 'py-4');
                    el.classList.add('max-h-0', '-translate-y-2');
                    allIcons[i].classList.remove('rotate-180');
                }
            });
        });
    });
</script>