<div class="flex flex-wrap">
    <div class="w-full md:w-1/2 mt-10 md:pe-10">
        <div class="square-button inline-block bg-black text-white text-2xl">À propos de l’association</div>
        <div class="w-full mt-6 flex flex-col gap-4 items-start">
            <div class="faq-item flex flex-col items-start w-full">
                <div class="faq-header flex items-center w-full cursor-pointer border-b p-4 transition-all">
                    <svg class="faq-icon transition-all duration-500" width="20" height="11" viewBox="0 0 20 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.900879 0.900879L9.9097 9.9097L18.9185 0.90088" stroke="black" stroke-width="1.80176" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <p class="ps-4">Quelle est la mission de Règles Élémentaires ?</p>            
                </div>
                <p class="faq-answer px-4 overflow-hidden max-h-0 opacity-0 -translate-y-2 transition-all duration-500">
                    Règles Élémentaires est une association qui agit pour l’égalité, l’éducation et la justice menstruelle.
                    <br/>Règles Élémentaires œuvre pour que les femmes et toutes les personnes qui ont, avaient et auront leurs règles puissent les vivre dignement, sans tabou et en sécurité.
                    <br/>Pour ce faire, elle forme et informe sur les règles, promeut la santé menstruelle et lutte contre la précarité menstruelle en favorisant l’accès aux produits périodiques.
                    <br/>Depuis 2015, Règles Élémentaires change les mentalités et les lois pour construire une société plus juste et égalitaire.
                </p>
            </div>
            <div class="faq-item flex flex-col items-start w-full">
                <div class="faq-header flex items-center w-full cursor-pointer border-b p-4 transition-all">
                    <svg class="faq-icon transition-all duration-500" width="20" height="11" viewBox="0 0 20 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.900879 0.900879L9.9097 9.9097L18.9185 0.90088" stroke="black" stroke-width="1.80176" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <p class="ps-4">Lightning-Fast Performance</p>            
                </div>
                <p class="faq-answer px-4 overflow-hidden max-h-0 opacity-0 -translate-y-2 transition-all duration-500">
                    Built with speed — minimal load times and optimized rendering.
                </p>
            </div>
        </div>
    </div>
    <div class="w-full md:w-1/2 mt-10 md:ps-10">
        <div class="square-button inline-block bg-black text-white text-2xl">Engagement</div>
        <div class="w-full mt-6 flex flex-col gap-4 items-start">
            <div class="faq-item flex flex-col items-start w-full">
                <div class="faq-header flex items-center w-full cursor-pointer border-b p-4 transition-all">
                    <svg class="faq-icon transition-all duration-500" width="20" height="11" viewBox="0 0 20 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.900879 0.900879L9.9097 9.9097L18.9185 0.90088" stroke="black" stroke-width="1.80176" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <p class="ps-4">Quelle est la mission de Règles Élémentaires ?</p>            
                </div>
                <p class="faq-answer px-4 overflow-hidden max-h-0 opacity-0 -translate-y-2 transition-all duration-500">
                    Règles Élémentaires est une association qui agit pour l’égalité, l’éducation et la justice menstruelle.
                    <br/>Règles Élémentaires œuvre pour que les femmes et toutes les personnes qui ont, avaient et auront leurs règles puissent les vivre dignement, sans tabou et en sécurité.
                    <br/>Pour ce faire, elle forme et informe sur les règles, promeut la santé menstruelle et lutte contre la précarité menstruelle en favorisant l’accès aux produits périodiques.
                    <br/>Depuis 2015, Règles Élémentaires change les mentalités et les lois pour construire une société plus juste et égalitaire.
                </p>
            </div>
            <div class="faq-item flex flex-col items-start w-full">
                <div class="faq-header flex items-center w-full cursor-pointer border-b p-4 transition-all">
                    <svg class="faq-icon transition-all duration-500" width="20" height="11" viewBox="0 0 20 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.900879 0.900879L9.9097 9.9097L18.9185 0.90088" stroke="black" stroke-width="1.80176" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <p class="ps-4">Lightning-Fast Performance</p>            
                </div>
                <p class="faq-answer px-4 overflow-hidden max-h-0 opacity-0 -translate-y-2 transition-all duration-500">
                    Built with speed — minimal load times and optimized rendering.
                </p>
            </div>
        </div>
    </div>
    <div class="w-full md:w-1/2 mt-10 md:pe-10">
        <div class="square-button inline-block bg-black text-white text-2xl">Nos actions</div>
        <div class="w-full mt-6 flex flex-col gap-4 items-start">
            <div class="faq-item flex flex-col items-start w-full">
                <div class="faq-header flex items-center w-full cursor-pointer border-b p-4 transition-all">
                    <svg class="faq-icon transition-all duration-500" width="20" height="11" viewBox="0 0 20 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.900879 0.900879L9.9097 9.9097L18.9185 0.90088" stroke="black" stroke-width="1.80176" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <p class="ps-4">Quelle est la mission de Règles Élémentaires ?</p>            
                </div>
                <p class="faq-answer px-4 overflow-hidden max-h-0 opacity-0 -translate-y-2 transition-all duration-500">
                    Règles Élémentaires est une association qui agit pour l’égalité, l’éducation et la justice menstruelle.
                    <br/>Règles Élémentaires œuvre pour que les femmes et toutes les personnes qui ont, avaient et auront leurs règles puissent les vivre dignement, sans tabou et en sécurité.
                    <br/>Pour ce faire, elle forme et informe sur les règles, promeut la santé menstruelle et lutte contre la précarité menstruelle en favorisant l’accès aux produits périodiques.
                    <br/>Depuis 2015, Règles Élémentaires change les mentalités et les lois pour construire une société plus juste et égalitaire.
                </p>
            </div>
            <div class="faq-item flex flex-col items-start w-full">
                <div class="faq-header flex items-center w-full cursor-pointer border-b p-4 transition-all">
                    <svg class="faq-icon transition-all duration-500" width="20" height="11" viewBox="0 0 20 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.900879 0.900879L9.9097 9.9097L18.9185 0.90088" stroke="black" stroke-width="1.80176" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <p class="ps-4">Lightning-Fast Performance</p>            
                </div>
                <p class="faq-answer px-4 overflow-hidden max-h-0 opacity-0 -translate-y-2 transition-all duration-500">
                    Built with speed — minimal load times and optimized rendering.
                </p>
            </div>
        </div>
    </div>
    <div class="w-full md:w-1/2 mt-10 md:ps-10">
        <div class="square-button inline-block bg-black text-white text-2xl">Informations générales</div>
        <div class="w-full mt-6 flex flex-col gap-4 items-start">
            <div class="faq-item flex flex-col items-start w-full">
                <div class="faq-header flex items-center w-full cursor-pointer border-b p-4 transition-all">
                    <svg class="faq-icon transition-all duration-500" width="20" height="11" viewBox="0 0 20 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.900879 0.900879L9.9097 9.9097L18.9185 0.90088" stroke="black" stroke-width="1.80176" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <p class="ps-4">Quelle est la mission de Règles Élémentaires ?</p>            
                </div>
                <p class="faq-answer px-4 overflow-hidden max-h-0 opacity-0 -translate-y-2 transition-all duration-500">
                    Règles Élémentaires est une association qui agit pour l’égalité, l’éducation et la justice menstruelle.
                    <br/>Règles Élémentaires œuvre pour que les femmes et toutes les personnes qui ont, avaient et auront leurs règles puissent les vivre dignement, sans tabou et en sécurité.
                    <br/>Pour ce faire, elle forme et informe sur les règles, promeut la santé menstruelle et lutte contre la précarité menstruelle en favorisant l’accès aux produits périodiques.
                    <br/>Depuis 2015, Règles Élémentaires change les mentalités et les lois pour construire une société plus juste et égalitaire.
                </p>
            </div>
            <div class="faq-item flex flex-col items-start w-full">
                <div class="faq-header flex items-center w-full cursor-pointer border-b p-4 transition-all">
                    <svg class="faq-icon transition-all duration-500" width="20" height="11" viewBox="0 0 20 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.900879 0.900879L9.9097 9.9097L18.9185 0.90088" stroke="black" stroke-width="1.80176" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <p class="ps-4">Lightning-Fast Performance</p>            
                </div>
                <p class="faq-answer px-4 overflow-hidden max-h-0 opacity-0 -translate-y-2 transition-all duration-500">
                    Built with speed — minimal load times and optimized rendering.
                </p>
            </div>
        </div>
    </div>
</div>


<script>
    document.querySelectorAll('.faq-header').forEach((header, index) => {
        header.addEventListener('click', () => {
            const allAnswers = document.querySelectorAll('.faq-answer');
            const allIcons = document.querySelectorAll('.faq-icon');

            allAnswers.forEach((el, i) => {
                if (i === index) {
                    const isOpen = el.classList.contains('opacity-100');
                    el.classList.toggle('opacity-100', !isOpen);
                    el.classList.toggle('max-h-[600px]', !isOpen);
                    el.classList.toggle('translate-y-0', !isOpen);
                    el.classList.toggle('pt-4', !isOpen);
                    el.classList.toggle('max-h-0', isOpen);
                    el.classList.toggle('-translate-y-2', isOpen);
                    allIcons[i].classList.toggle('rotate-180', !isOpen);
                } else {
                    el.classList.remove('opacity-100', 'max-h-[600px]', 'translate-y-0', 'pt-4');
                    el.classList.add('max-h-0', '-translate-y-2');
                    allIcons[i].classList.remove('rotate-180');
                }
            });
        });
    });
</script>